@model CarrinhoCompraViewModel


<div class="row checkoutForm">
    <h2>Seu carrinho de compras</h2>
    <br />

    <h4>Aqui estão os seus pedidos</h4>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Quantidade</th>
                <th>Produto</th>
                <th class="text-right">Preço</th>
                <th class="text-right">Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CarrinhoCompra.CarrinhoCompraItems)
            {
                <tr>
                    <td class="text-center">@item.Quantidade</td>
                    <td class="text-left">@item.Produto.Nome</td>
                    <td class="text-right">@item.Produto.Preco.ToString("c")</td>
                    <td class="text-right">
                        @((item.Quantidade * item.Produto.Preco).ToString("c"))
                    </td>
                    <td class="text-center">
                    <a class="btn-danger" asp-controller="CarrinhoCompra" 
                                          asp-action="RemoverItemDoCarrinhoCompra" 
                                          asp-route-produtoId="@item.Produto.ProdutoId">remover</a></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">
                    @Model.CarrinhoCompraTotal.ToString("c")
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="text-right">
        <div class="btn-group ">
            <a class="btn btn-success" asp-controller="Pedido" asp-action="Checkout">Encerrar Pedido</a>
            <a class="btn-group">
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Adicionar mais produtos<span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a asp-controller="Produto" asp-action="List" asp-route-categoria="Faca">Faca</a></li>
                    <li><a asp-controller="Produto" asp-action="List" asp-route-categoria="Martelo">Martelo</a></li>
                </ul>
            </a>
        </div>
    </div>
</div>
